/*about header*/
header{
    background-color: rgba(229, 84, 115, 0.10);
   
    
}

  
.banner{
    padding: 30px 120px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
button{
    padding: 10px;
    background-color:#E55473 ;
    border: 0;
    border-radius: 5px;
    color:white;
}
.banner.profile-pic{
    width: 635px;
   

}
h1{
    font-weight: 800;
    font-size: 80px;

}
/*about main section*/

.about{
    padding:30px 150px 30px 150px ;
    text-align: center;
    
    
}
.sec-des{
    color: rgba(39, 39, 39, 0.60);
}
.img-con{
    height: 538px;
    width: 464px;
    background-color: rgba(167, 33, 98, 0.15);
    margin-top: 48px;
    border-radius: 300px 300px 0px 0px;
    
}
.box{
    display: flex;
    justify-content: space-between;
    
}
.img-1{
    height: 538px;
    width: 464px;
    background-color: rgba(5, 151, 160, 0.15);
    margin-top: 48px;
    border-radius: 300px 300px 0px 0px;
}
.img-2{
    height: 538px;
    width: 464px;
    background-color: rgba(71, 125, 17, 0.15);
    margin-top: 48px;
    border-radius: 300px 300px 0px 0px;
}
.pic-3{
    margin-top:67px;
}
.pic-2{
     margin-top: 109px;
}
.pic-1{
    margin-top: 110px;
}
.sec-title{
    font-size: 40px;
}
.und{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 168px;
    text-decoration-line: underline;
}
.un-2{
    
    text-decoration-line: underline;
}
/*about section faw*/
.sai{
    height: 200px;
    
    background-color: rgba(39, 39, 39, 0.05);
   
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 68px;}
.pai{
    display: flex;
    
    padding-right: 200px;
    justify-content: space-between;
    padding-top: 39px;
}
.para{
    color:rgba(39, 39, 39, 0.80) ;
}
.im-1{
    margin-left: 75px;
}
.im-2{
    padding-left: 61px;
}
.im-3{
    padding-left: 18px;
}
.sobi{
    margin-left: 200px;
}

.mai{
    height: 500px;
    background-color:rgba(229, 84, 115, 0.05) ;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.off{
    color: #E55473;
}


.pa{
    color: rgba(39, 39, 39, 0.60);
}
.img-8{
    height:320px ;
}
.hot-title{
    padding-left:370px;
    padding-top: 150px;
    
    text-align: center;
}
.img-8{
    padding-right: 370px;
    padding-top: 90px;
}
.ins-d{
    text-align: center;
    margin-top: 80px;
}
.ins-p{
    color: rgba(39, 39, 39, 0.60);
}
.ins-im{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-between;
    
}
.ins1{
    height: 380px;
    margin-top: 30px;
}
.img-tt{
    font-size: 50px;
}
.d-t{
    font-size: 32px;
}